.bg-white {
  background-color: $white !important;
}
.text-muted {
  color: #84848f !important;
}
.overlay-dark {
  background-color: rgba($black, 0.9);
  &-bottom {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
  }
}