.card-horizontal, .card-vertical {
  h4 {
    @include truncateMaxHeight(24, 1.2, 3);
  }
  .content-category {
    font-size: 14px;
    color: #635f98;
    &:before {
      content: '';
      display: inline-block;
      width: 3px;
      height: 15px;
      background-color: #635f98;
      margin-right: 0.5rem;
      vertical-align: middle;
    }
  }
}